body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Amoria';
    letter-spacing: 2px;
}

.navigation, .footer{
    background-color:  rgb(246, 193, 204);
    color: rgb(92, 123, 131);
    padding: 1rem;
    text-align: center;
    overflow-x: auto;
}

.Banner img {
    width: 100%;   
    height: auto;
    display: block;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 40px;
}

nav{
    font-size: 28px;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 40px;
    
}

.navigation a{
    background-color:rgb(255, 250, 230);
    border-radius: 5px;
    margin: auto 2px;
    padding: 10px 18px;
    text-align: center;
    color:#94ddde;
    text-decoration: none;
}

.content {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 3rem;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    line-height: 1.6;
    color: rgb(0, 0, 0);
}

.profile-pic {
    width: 300px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 10px;
}

.welcome {
    font-size: 20px;
    width: 80%;
    height: auto;
    background-color:  rgb(246, 193, 204);
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s ease;
}

.welcome p{
    font-size: 30px;
    color: rgb(92, 123, 131);
    margin: 0;
    word-wrap: break-word;
}


.OSTC {
    background-color: rgb(232, 194, 250);
    height: auto;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.OSTC::-webkit-scrollbar {
    display: none;
}

.info{
    background-color: rgb(194, 232, 250);
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column: 1 / -1;
}


.footer {
    margin-top: auto;
}

a:hover {
    background-color: #eee5d1d5;
    color: rgb(6, 167, 153);
}
